.mui-drop-down-menu {
    .mui-menu {
        max-height: 300px;
        overflow-y: scroll;
    }
}

.mui-input {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.mui-date-picker {
    display: inline-block;
}