.mui-drop-down-menu {
    .mui-menu {
        max-height: 300px;
        overflow-y: scroll;
    }
}

.mui-drop-down-menu-sm {
    height: 36px;
}

.mui-drop-down-menu-halfblock {
    position: relative;
    top: 12px;
    font-size: 18px;
    height: 45px;
}

.mui-input {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.mui-date-picker {
    display: inline-block;
}