@import "node_modules/material-ui-sass/material-ui";

@import "custom-override";

@import "pages/register";

/* App Specific Styles */
.mui-app-canvas {
  height: 100%;
  overflow: hidden;
}

.logo {
  cursor: pointer;
  padding-top: 7px;
  margin-left: 20px;
}

body {
  background: $grey-700;
  min-height: 590px;
}

.clear {
  clear: both;
}