.fs-form-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  color: $grey-50;

  .fs-form {
    position: relative;
    text-align: left;
    padding: 0 0 6em 0;

    .fs-display-next {
      .fs-hide {
        visibility: visible;

        .fs-anim-lower {
          .mui-text-field {
            .mui-text-field-hint {
              visibility: hidden;
            }
          }

          .mui-radio-button {
              visibility: hidden;
            }
        }
      }
    }

    .fs-display-prev {
      .fs-hide {
        visibility: visible;

        .fs-anim-lower {
          .mui-text-field {
            .mui-text-field-hint {
              visibility: hidden;
            }
          }

          .mui-radio-button {
              visibility: hidden;
            }
        }
      }
    }
  }

  .fs-form-full {
    top: 30%;
    margin: 0 auto;
    width: 50%;
    max-width: 960px;
    font-weight: bold;
  }

  .fs-fields {
    position: relative;
    margin: 0 auto;
    padding: 0;
    top: 0;
    list-style: none;

    .fs-step {
      width: 100%;
      visibility: hidden;
      position:absolute;

      .fs-field-label {
      }

      .fs-field-input {
      }
    }

    .fs-current {
      visibility: visible;
    }
  }

  .fs-continue-btn {
    position: absolute;
    top: 50%;
    left: 40%;
    margin: 0 40px 60px 0;
  }

  .fs-links {
    position: absolute;
    top: 30%;
    right: 60px;
    list-style: none;
    cursor: pointer;

    .fs-link-control {
      margin: 5px 0;
      font-size: normal;
    }

    .fs-link-current {
      font-weight: bold;
      color: $cyan-500;
    }
  }

  .fs-sign-up {
    margin: 0 auto;
    width: 30%;
    top: 30%;
    max-width: 960px;
    font-weight: bold;
  }

  .fs-text-label {
    width: 20%;
    display: inline-block;
  }

}

/* Hide current li when navigating to next question */
.fs-form .fs-display-next .fs-hide .fs-anim-lower,
.fs-form .fs-display-next .fs-hide .fs-anim-upper {
  -webkit-animation: animHideNext 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
  animation: animHideNext 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

.fs-form .fs-display-next .fs-hide .fs-anim-lower {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

@-webkit-keyframes animHideNext {
  to { opacity: 0; -webkit-transform: translate3d(0,-500px,0); }
}

@keyframes animHideNext {
  to { opacity: 0; -webkit-transform: translate3d(0,-500px,0); transform: translate3d(0,-500px,0); }
}

/* Show new li when navigating to next question */
.fs-form .fs-display-next .fs-show .fs-anim-lower,
.fs-form .fs-display-next .fs-show .fs-anim-upper {
  -webkit-animation: animShowNext 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
  animation: animShowNext 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
}

.fs-form .fs-display-next .fs-show .fs-anim-lower {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

@-webkit-keyframes animShowNext {
  from { opacity: 0; -webkit-transform: translate3d(0,500px,0); }
}

@keyframes animShowNext {
  from { opacity: 0; -webkit-transform: translate3d(0,500px,0); transform: translate3d(0,500px,0); }
}

/* Hide current li when navigating to previous question */
.fs-form .fs-display-prev .fs-hide .fs-anim-lower,
.fs-form .fs-display-prev .fs-hide .fs-anim-upper {
  -webkit-animation: animHidePrev 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
  animation: animHidePrev 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

.fs-form .fs-display-prev .fs-hide .fs-anim-upper {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

@-webkit-keyframes animHidePrev {
  to { opacity: 0; -webkit-transform: translate3d(0,500px,0); }
}

@keyframes animHidePrev {
  to { opacity: 0; -webkit-transform: translate3d(0,500px,0); transform: translate3d(0,500px,0); }
}

/* Show new li when navigating to previous question */
.fs-form .fs-display-prev .fs-show .fs-anim-lower,
.fs-form .fs-display-prev .fs-show .fs-anim-upper {
  -webkit-animation: animShowPrev 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
  animation: animShowPrev 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
}

.fs-form .fs-display-prev .fs-show .fs-anim-upper {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

@-webkit-keyframes animShowPrev {
  from { opacity: 0; -webkit-transform: translate3d(0,-500px,0); }
}

@keyframes animShowPrev {
  from { opacity: 0; -webkit-transform: translate3d(0,-500px,0); transform: translate3d(0,-500px,0); }
}